
.secaoDoacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--vermelhoAuxDiretoria);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
}


.conteinerInternoDoacao {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 2rem;
    padding: 23px 56px;
}

/* Coluna esquerda */
.colunaEsquerdaDoacao {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.tituloDoacao {
    text-align: left;
}

.textoDoacao {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, 0.5rem + 1.5vw, 3rem);
    color: var(--Branco);
    line-height: 1.6;
    max-width: 600px;
    margin: 0;
}

.textoDoacao strong {
    color: var(--Branco);
    font-weight: 700;
}


/* Risco de giz abaixo do texto */
.imagemRiscoDoacao {
    width: 100%;
    max-width: 320px;
    height: auto;
    display: block;
}

/* Coluna direita */
.colunaDireitaDoacao {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*z-index: 60;*/
}

@media (max-width: 768px) {
    .tituloDoacao {
        text-align: center;
    }
    .textoDoacao {
        text-align: center;
    }
    .conteinerInternoDoacao {
        flex-direction: column;
        padding: 16px;
    }

    .imagemRiscoDoacao {
        margin: 0 auto;
    }

    .colunaDireitaDoacao {
        flex: 1;
        width: 100%;
        /*justify-content: center;*/
    }
}
