.box {
    width: 100%;
    max-width: clamp(400px, 50vw, 600px);
    height: clamp(150px, 32vw, 216px);
    border-radius: 25px;
    padding: 12px 16px;

    color: white;
    font-family: 'Bungee', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    overflow: hidden;
}

/* MANCHA */

.box .mancha {
    position: absolute;
    width: min(130px, 25vw);
    height: clamp(80px, 25vw, 130px);
    border-radius: 30px;
    bottom: -45px;
    right: -30px;
    transform: rotate(20deg);
    z-index: 0;
}

/* HEADER */

.box .header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    gap: 8px;
    margin-left: -5px;
    margin-top: 10px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.box .header .logo {
    width: min(35px, 8vw);
    height: clamp(20px, 8vw, 35px);
    flex-shrink: 0;
    display: block;
    margin: 0;
}

.box .header .titulo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: clamp(20px, 6vw, 35px);
    line-height: 35px;
    font-family: bungee;
    color: white;
    font-weight: normal;
    text-align: left;
}

/* LINHAS */

.box .linha {
    display: flex;
    justify-content: space-between;
    font-size: clamp(17px, 5vw, 30px);
    line-height: 1;
    position: relative;
    z-index: 1;
}