.container {
    max-width: 100%;
    height: 640px;
    padding: 3rem;
}

.container > h1 {
    /* margin-left: 10px; */
    text-align: start;
}

.conteudo-container {
    height: 100%;
    display: flex;
    margin-top: 20px;
    gap: clamp(5vw, 10vw, 20vw);
}

.descricao-container {
    width: 100%;
}

.descricao-container p {
    font-size: clamp(0.8em, 2vw, 1.2em);
    text-align: justify;
    white-space: pre-line;
}

.botoes-comissoes-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 30px;
}

.botoes-comissoes-container button {
    width: clamp(175px, 35vw, 250px);
    font-size: clamp(0.7em, 2vw, 1.1em);
    background-color: #8F395C;
    transition: all ease 0.25s;
}

.botoes-comissoes-container button:hover {
    margin-right: 30px;
    font-size: clamp(0.8em, 2.5vw, 1.2em);
    border: 2px solid var(--rosaMarketing);
}

.botoes-comissoes-container .ativo {
    margin-right: 30px;
    font-size: clamp(0.8em, 2.5vw, 1.2em);
    background-color: var(--rosaMarketing);
}

.imagens-container {
    width: 100%;
    /* background-color: #8F395C; */
    display: flex;
    justify-content: center;
}

.imagens-container img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: -8px;
}

.imgFundo {
    z-index: 0;
}

.imgMeio {
    z-index: 1;
}

.imgTopo {
    z-index: 2;
}