.footer-container {
    padding: 35px;
    height: 500px;
    background: var(--vermelhoAuxDiretoria);
    background-image: url('/src/assets/waveFooter.svg');
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

h2 {
    font-size: clamp(1rem, 3vw, 1.9em);
}

p {
    text-align: left;
    font-size: clamp(0.5rem, 2.25vw, 0.95em);
}

.subtitulo {
    font-size: clamp(0.5rem, 1.75vw, 0.95em);
}

.copyright {
    color: var(--AmareloAuxApoio);
    text-align: left;
    border-top: 1px solid white;
    padding-top: 10px;
}

.divLogo {
    max-width: 300px;
}

.divLogo img {
    width: clamp(150px, 100%, 400px);
}

.divSecoes {
    width: max-content;
    display: flex;
    gap: 15px;
}

.divSecoes div {
    width: clamp(100px, 30%, 200px);
}

@media (max-width: 720px) {
    .footer-container {
        padding: 10px;
        height: 525px;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        max-height: 500px;
        height: max-content;
        gap: 0px;
    }

    p {
        margin-bottom: 0px;
    }

    .subtitulo {
        font-size: clamp(0.5rem, 1.5vw, 0.7em);
    }
    
    .divLogo {
        width: 100%;
    }

    .divLogo img {
        max-width: 80%;
    }

    .divSecoes {
        width: max-content;
        justify-content: center;
        gap: 5px;
    }
}

@media (max-width: 600px) {
    p {
        margin-bottom: 10px;
    }
}
