

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  background-color: var(--vermelhoAuxDiretoria);
  font-family: 'Bungee', sans-serif;
  margin: 0;
}

#app {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

/* Títulos de seção — aplicar em todos os h1 que encabeçam seções da página */
.tituloSecao {
    font-size: var(--titulo-size-desktop-wide);
    font-weight: 700;
    color: var(--Branco);
}


.logo {
  width: clamp(300px, 75vw, 660px);
  padding-bottom: 1.5em;
  display: block;
  margin: 0 auto;
}

.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

